/* START */
html,body {
    height: 100%;
}

ol, ul {
  list-style: none;
}

html, body, div, /*dl, dt, dd, */ ul,
ol, li, h1, h2, h3, h4, h5, h6, hr,
pre, code, form, fieldset, legend,
input, textarea, p, blockquote,
th, td, img {
    margin: 0;
    padding: 0;
}
/* END */

/* 글로벌 스타일 설정 (기존) START */
body {
    background-color: rgb(255, 253, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-size: 10pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
/* 글로벌 스타일 설정 (기존) END */
